@use "sass:color";
@use "sass:map";
@use "sass:list";
@import "dolfo-angular/styles/base";
@import "misc/mixins";
@import "misc/variables";
@import "dolfo-angular/styles";
@import "misc/variables";
@import "misc/media";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700&display=swap");

body{
    font-family: "Nunito Sans";
    height: 100dvh;
    overflow: auto;

    .main-container{
        padding: 1rem
    }

    .header{
        @include relative;

        .logo{
            @include block;
            width: 200px;
            margin: 0 auto 1rem
        }

        .lang-btn{
            @include absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;

            button{
                border-radius: 50px
            }
        }
    }

    .loading, .empty{
        @include text-center
    }
    
    .screen-loader{
        @include fixed;
        @include centered-flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        .loader-inner{
            @include fixed;
            @include centered-flex;
            flex-direction: column;
            margin: auto;
            width: 60vw;
            gap: 10px;

            > img{
                width: 100%
            }

            > .bar{
                height: 7px;
                width: 100%;
                border-radius: 50px;
                background-color: $secondary;
                
                > span{
                    @include block;
                    border-radius: 50px;
                    height: 100%;
                    background-color: $primary;
                    transition: 0.3s ease;
                }
            }
        }
    }

    .song-item{
        @include flex;
        @include align-center;
        gap: 0.5rem;

        img{
            @include rounded;
            height: 40px;
            border: 1px solid $white
        }

        .song-item-details{
            @include flex;
            flex-direction: column;
            line-height: 1em;
            
            small{
                color: #777
            }
        }

        .song-actions{
            margin-left: auto;

            > *{
                @include pointer;

                &:not(:hover){
                    opacity: 0.7
                }
            }
        }
    }

    .join-container{
        @include flex;
        gap: 1rem;

        > *{
            @include centered-flex;
            @include rounded;
            flex: 0 1 50%;
            flex-direction: column;

            &.new-room{
                @include pointer;
                background-color: $success;
                color: $white;
                min-height: 200px;
                font-size: 30px;

                &:not(:hover){
                    opacity: 0.8
                }
            }

            &.join-room{
                background-color: $secondary;
                padding: 1rem;

                > *, dolfo-button button{
                    width: 100%
                }
            }
        }
    }

    .search-form{
        @include flex;
        gap: 10px;
        align-items: flex-end;
        flex-wrap: wrap;

        dolfo-autocomplete{
            flex: 1 0 auto;

            .input-container{
                margin: 0
            }
        }

        dolfo-button button{
            border-radius: 50px;
            margin-bottom: 3px;

            span{
                @include hidden
            }
        }
    }

    .jukebox{
        @include flex;
        gap: 10px;
        margin-top: 10px;
        height: 390px;

        .playlist{
            overflow: auto
        }

        .player{
            @include text-center;
            @include relative;
            flex: 1 1 auto;

            div:not(.player-placeholder){
                @include relative;
                padding-bottom: 56.25%;

                iframe{
                    @include absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%
                }
            }

            .player-placeholder{
                @include centered-flex;
                @include rounded;
                flex-direction: column;
                background-color: $secondary;
                padding: 1rem;

                fa-icon{
                    font-size: 50px
                }
            }
        }
    }

    .footer{
        @include text-center
    }
}